@using COMICZONE.Extensions;
@using System.Globalization;
@model IEnumerable<COMICZONE.Models.Product>

@{
    ViewData["Title"] = "Trang chủ";
}

<section class="py-5">
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">

            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100 border-0">

                        <!-- Ảnh -->
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img class="card-img-top"
                                 src="@item.GetImagePath()" alt="@item.Name" />
                        </a>

                        <!-- Tên + Giá -->
                        <div class="card-body text-center p-2">
                            <div class="text-danger fw-bold mt-1">
                                @string.Format(CultureInfo.GetCultureInfo("vi-VN"), "{0:N0}", item.Price) ₫
                            </div>
                            <div class="fw-semibold small">
                                @item.Name
                            </div>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</section>